<h1>One Tweet!</h1>

<%= flash[:notice] %>

<h2><%= @tweet.content %> by <%= @tweet.user.username %></h2>

<% if @tweet.user_id == current_user.id %>
  <%= link_to "Edit This Tweet", edit_tweet_path(@tweet) %>
<% end %>
